<app-home></app-home>

<div>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Check in date</label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check in date is required
            </small>
        </div>

        <div class="mb-3">
            <label>Check out date</label>
            <input class="form-control" type="date" formControlName="checkOutDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check out date is required
            </small>
        </div>

        <div class="mb-3">
            <label>Guest name</label>
            <input class="form-control" type="text" formControlName="guestName">
            <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest name is required
            </small>
        </div>

        <div class="mb-3">
            <label>Guest email</label>
            <input class="form-control" type="email" formControlName="guestEmail">
            <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                Guest email is required
            </small>
        </div>

        <div class="mb-3">
            <label>Room number</label>
            <input class="form-control" type="number" formControlName="roomNumber">
            <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                Room number is required
            </small>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>
    </form>
</div>